<h5 class="page-header">My Page</h5>
<div class="col-md-6">
  <div class="card flex-md-row mb-4 shadow-sm h-md-250">
    <div class="card-body d-flex flex-column align-items-start">
      <strong class="d-inline-block mb-2 text-info">Profile</strong>
      <h3 class="mb-1 text-dark">
        {{currentUser.userId}}
      </h3>
      <!-- <div class="mb-1 text-muted">Nov 12</div> -->
      <p class="card-text mb-auto">Name: {{currentUser.userName}}</p>
      <p class="card-text mb-auto">Major: {{currentUser.major}}</p>
      <p class="card-text mb-auto">Grade: {{currentUser.admissionYear}}</p>
      <a class="mt-1 text-muted" routerLink="/mypage/editprofile" routerLinkActive="active"><small>프로필 수정</small></a>
    </div>
  </div>
</div>
<button class="btn btn-warning btn-sm" (click)=deleteUser()>회원 탈퇴</button>