<h5 class="page-header">Admin Page</h5>
<h6>Group</h6>
<table class="table table-striped table-sm table-condensed table-responsive-sm">
  <colgroup>
    <col style="width: 5%;"/>
    <col style="width: 20%;"/>
    <col style="width: 20%;"/>
    <col style="width: 45%;"/>
    <col style="width: 10%;"/>
  </colgroup>
  <thead>
    <tr class="text-center">
      <th>Index</th>
      <th>Master ID</th>
      <th>Group Name</th>
      <th>Members</th>
      <th>삭제</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of groups">
      <td>{{group.groupIndex}}</td>
      <td>{{group.groupMasterId}}</td>
      <td>{{group.groupName}}</td>
      <td>
        <span *ngFor="let member of group.members" class="mr-2">
            {{member}}
        </span>
      </td>
      <td class="text-center"><button class="btn btn-warning btn-sm" (click)=deleteGroup(group.groupIndex)>삭제</button></td>
    </tr>
  </tbody>
</table>