<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 routerLink="/" routerLinkActive="active">
    {{title}}
  </h1>
</div>
<nav style="text-align:right">
  <ul>
    <li><a routerLink="/signup" routerLinkActive="active">회원가입</a></li>
    <li><a routerLink="/signin" routerLinkActive="active">로그인</a></li>
    <li><a routerLink="/admin" routerLinkActive="active">관리자 페이지</a></li>
  </ul>
</nav>
<nav>
  <ul>
    <li><a routerLink="/mypage" routerLinkActive="active">마이 페이지</a></li>
    <li><a routerLink="/recruitment" routerLinkActive="active">모집 게시판</a></li>
    <li><a routerLink="/grouppage" routerLinkActive="active">그룹 게시판</a></li>
    <li><a routerLink="/calendar" routerLinkActive="active">일정</a></li>
    <li><a routerLink="/cafe" routerLinkActive="active">스터디 카페</a></li>
    <li><a routerLink="/chat" routerLinkActive="active">채팅</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>