<!--The content below is only a placeholder and can be replaced.-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h3 class="my-0 mr-md-auto" routerLink="/" routerLinkActive="active">
    Study Helper
  </h3>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/signup" routerLinkActive="active">
      Sign Up
    </a>
    <a class="p-2 text-dark" routerLink="/signin" routerLinkActive="active">
      Login
    </a>
    <a class="p-2 text-muted font-weight-light" routerLink="/admin" routerLinkActive="active">
      <small>Admin</small>
    </a>
  </nav>
</div>
<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <ul>
      <li><a class="p-2 text-muted" routerLink="/mypage" routerLinkActive="active">마이 페이지</a></li>
      <li><a class="p-2 text-muted" routerLink="/recruitment" routerLinkActive="active">모집 게시판</a></li>
      <li><a class="p-2 text-muted" routerLink="/grouppage" routerLinkActive="active">그룹 게시판</a></li>
      <li><a class="p-2 text-muted" routerLink="/calendar" routerLinkActive="active">일정</a></li>
      <li><a class="p-2 text-muted" routerLink="/cafe" routerLinkActive="active">스터디 카페</a></li>
      <li><a class="p-2 text-muted" routerLink="/chat" routerLinkActive="active">채팅</a></li>
    </ul>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>